<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nouvelles Infos !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)">

  </ion-searchbar>

  <ion-item button *ngFor="let item of (results | async)" (click)="GoToNewsPageDetails(item)">
    <ion-card>
      <ion-img [src]="item.urlToImage"></ion-img>
      <ion-card-content>
        <ion-card-title>{{ item.title }}</ion-card-title>
        <p>{{ item.description }}</p>
      </ion-card-content>
    </ion-card>
</ion-item>
  
    


</ion-content>
